.einstellungen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    right: 10vw;
}

.gear-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -50px;
    height: 45px;
    width: 45px;
    border-radius: 0.8rem;
    border: 1px solid #555;
}



.gear-container i {
    font-size: 30px;
    color: var(--color-3);
    animation: rotrate 4s infinite linear;
    cursor: pointer;
}

.color-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    width: 90px;
    border: 1px solid #555;
    border-radius: 0.8rem;
    transition: all .7s ease-out;
    opacity: 0;
}

.color-container.active-color-container {
    opacity: 1;
}

.color {

    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.color:nth-child(1) {
    border: 1px solid var(--color-3);
    background-color: var(--color-primary-dark);
}

.color:nth-child(2) {
    background: var(--bg-gardient-animation);
    border: 1px solid var(--color-3);

}

.color:hover {
    cursor: pointer;
}



@keyframes rotrate {
    to {
        transform: rotate(360deg);
    }
}