.einstellungen {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;




    position: absolute;
    bottom: 3vh;
    right: 10vw;
    transform: translate(-50%, -50%);

}

.gear-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -50px;
    height: 46px;
    width: 45px;
    border-radius: 0.8rem;
    border: 1px solid #555;
}



.gear-container i {
    font-size: 30px;
    color: aliceblue;
    animation: rotrate 4s infinite linear;
    cursor: pointer;
}

.color-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 0px;
    visibility: hidden;
    transition: all 1s ease-out;
}

.color-container.active-color-container {
    width: 90px;
    visibility: visible;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 0.8rem;


}

.color {

    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.color:nth-child(1) {
    border: 1px solid rgb(255, 255, 255);
    background-color: #212529;


}

.color:nth-child(2) {
    background-color: blueviolet;
    border: 1px solid rgb(255, 255, 255);

}

.color:hover {
    cursor: pointer;
}



@keyframes rotrate {
    to {
        transform: rotate(360deg);
    }
}