.einstellungen {
    position: absolute;
    bottom: 5vh;
    right: 95px;
    z-index: 999;

}

.gear-container {
    position: absolute;
    right: -50px;
    height: 45px;
    width: 45px;
    border-radius: 0.8rem;
    border: 1px solid #555;
}



.gear-container i {
    font-size: 30px;
    color: var(--color-3);
    animation: rotrate 4s infinite linear;
    cursor: pointer;
}

.color-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    width: 90px;
    border: 1px solid #555;
    border-radius: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-out;
    z-index: 999;
}

.color-container.active-color-container {
    opacity: 1;
    visibility: visible;

}

.color {

    width: 30px;
    height: 30px;
    border-radius: 100%;
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

.color:nth-child(1) {
    border: 1px solid var(--color-3);
    background-color: var(--color-primary-dark);
}

.color:nth-child(2) {
    background: var(--bg-gardient-animation);
    border: 1px solid var(--color-3);

}

.color:hover {
    opacity: 1;

    cursor: pointer;
}