footer {
    padding-bottom: 10px;
}

.single-content {
    text-align: center;
    padding: 115px 0;
}


.single-box ul li a {
    color: var(--color-font-primary);
    line-height: var(--line-height-link);
    font-weight: var(--font--weight-link-footer);
}

.single-box h3 {
    color: var(--color-font-primary);
    font-size: var(--size-font-headline-footer);
    font-weight: var(--font-weight-first-headline);
}

@media (max-width: 767px) {
    .single-box {
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .single-box {
        margin-bottom: 50px;
    }
}