/*coded by Mohamad Alaskari*/

:root {
        /*font family*/
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

        /*font-size */
        --size-font-headline: 35px;
        --size-font-nav-logo: var(--size-font-headline);
        --size-font-title: 40px;
        --size-font-home-title: var(--size-font-title);
        --size-font-footer-title: var(--size-font-title);
        --size-font-headline1: 48px;
        --size-font-section-headline: var(--size-font-headline1);
        --size-font-headline2: 28px;
        --size-font-section-untertitle: var(--size-font-headline2);
        --size-font-headline3: 25px;
        --size-font-team-name: var(--size-font-headline3);
        --size-font-contact: var(--size-font-headline3);
        --size-font-quellen-subheadline: var(--size-font-headline3);
        --size-font-headline4: 22.4px;
        --size-font-headline-pros: var(--size-font-headline4);
        --size-font-headline5: 20px;
        --size-font-audio-tiltle: var(--size-font-headline5);

        --size-font-headline-footer: var(--size-font-headline5);
        --size-font-navbarlinks: var(--size-font-headline5);


        --size-font-headline6: 18px;
        --size-font-quellen-links: var(--size-font-headline6);
        --size-font-contact-details: var(--size-font-headline6);

        --size-font-standard: 16px;
        --size-font-subtext: var(--size-font-standard);
        --size-font-links: var(--size-font-standard);
        --size-font-quellen-date: var(--size-font-standard);
        --size-font-btn: var(--size-font-standard);
        --size-font-pros: var(--size-font-standard);
        --size-font-team-name-subtitle: var(--size-font-standard);

        --size-font-sidetext: 0.9rem;


        /*font-weight:*/
        --font-weight-first-headline: 700;
        --font-weight-v-text: 600;
        --font--weight-standard-text: 500;
        --font-weight-side-text: 300;
        --font--weight-link-footer: 100;


        /*letter-spacing*/
        --standard-letter-spacing: 1px;
        --special-letter-spacing: 0.5em;
        /**/
        --line-height-standard: 1.5;
        --line-height-link: 2.5;




        /*basic color schrift*/
        --color-special: hsl(319, 69%, 55%);
        --color-font-primary: #fff;
        --color-font-secondary: #ccccccdb;
        --color-font-vorteil-1: #F3DEFF;
        --color-font-vorteil-2: #4B5258;
        --color-font-vorteil-3: #0e0e0e;
        --color-font-black: #000;

        /*bg-color */
        --color-primary-dark: #212529;
        --color-bg-above: hsl(319, 45%, 59%);

        --color-1: #733FC8;
        --color-2: #49556B;
        --color-3: #fff;
        --color-4: #542158;
        --color-6: #4b1280;
        --color-5: #33353d;
        --color-7: #7431df;
        --color-8: #000;



        /*bg-gradient*/
        --bg-gardient-animation: linear-gradient(135deg, hsl(270, 88%, 10%),
                        hsl(270, 87%, 15%), hsl(270, 87%, 20%),
                        hsl(270, 95%, 32%)), hsl(290, 87%, 25%);


}


html {
        scroll-behavior: smooth;
        scroll-padding-top: 5vh;
}

*,
a,
ul,
::after,
::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
}

body {
        line-height: 1.5;
        letter-spacing: 1px;
        overflow-x: hidden;
}

.underline {
        margin: 20px 0 30px 0;
        width: 20%;
        height: 5px;
        background-color: var(--color-special);
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
}



/*background main*/
.flex-col-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;

}

.flex-row-center {
        display: flex;
        justify-content: center;
        align-items: center;
}

.bg-animation {
        background: var(--bg-gardient-animation);
        background-size: 400% 400%;
        animation: bg-animate 15s ease infinite;
}


/*wraper*/

.wraper:first-child {
        margin-top: 5vh;
}



.wraper:not(.wraper:last-child) {
        margin-bottom: 30vh;
        padding: 0 0;
}


.main {
        overflow: hidden;
}


p {
        color: var(--color-font-primary);
}

.title {
        color: var(--color-font-primary);
}

/*ueberschriften*/
.special {
        color: var(--color-special);
}

.ueberschrift1 {
        color: var(--color-font-primary);
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
}

h2 {
        font-size: 25px;
        color: var(--color-font-primary);
}


/*sub-text*/

.sub-text {

        margin: 0 auto 1rem;
        color: var(--color-font-secondary);
}

.sub-text-center {
        text-align: center;
        width: 60%;

}

.sub-text.sub-text-left {
        width: 100%;
        text-align: left;
}

/*socials*/
.socials {
        margin-top: 0.5rem;
}




.socials i {
        font-size: var(--size-font-links);
        color: var(--color-font-secondary);
        margin: 0 0.7rem;

        transition: all 0.1s ease;
}

.socials i:hover {
        color: var(--color-special);
        scale: 1.2;

}

/*underline*/
.under-line:before {
        content: "";
        background-color: var(--color-special);
        position: absolute;
        bottom: 0px;
        width: 50%;
        height: 3px;
}


.glass {
        /*start Mohamad.Alaskari*/
        background: rgba(49, 6, 91, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        /*Ende Mohamad.Alaskari*/
}





/*Animation classes */
.slide-in-x-right {
        animation: slide-in-x-right 0.8s ease;
}

.slide-in-x-left {
        animation: slide-in-x-left 0.8s ease;

}

.slide-in-y-top {
        animation: slide-in-y-top 0.8s ease;
}

.slide-in-y-button {
        animation: slide-in-y-button 0.8s ease;
}

.slide-in-xl {
        animation: slide-in-xl 0.8s ease;
}

.slide-in-xr {
        animation: slide-in-xr 0.8s ease;
}

.slide-in-y {
        animation: slide-in-y 0.8s ease;
}

.fade-in {
        animation: fade-in 1s ease;
}

.fade-out {
        animation: fade-out 0.5s ease 3s forwards;
}


/*keyframes for Animation*/
@keyframes slide-in-x-right {
        from {
                transform: translateX(100vw);
        }
}

@keyframes slide-in-x-left {
        from {
                transform: translateX(-100vw);
        }
}

@keyframes slide-in-y-top {
        from {
                transform: translateY(-100vh);
        }
}

@keyframes slide-in-y-button {
        from {
                transform: translateY(100vh);
        }
}

@keyframes slide-in-xl {
        from {


                transform: translateX(-20px);
        }
}

@keyframes slide-in-xr {
        from {


                transform: translateX(20px);
        }
}

@keyframes slide-in-y {
        from {
                transform: translateY(20px);
        }
}

@keyframes fade-in {
        from {
                opacity: 0;
        }
}

@keyframes fade-out {
        to {
                opacity: 0;
        }
}

@keyframes rotrate {
        to {
                transform: rotate(360deg);
        }
}

@keyframes bg-animate {
        0% {
                background-position: 0% 50%;
        }

        50% {
                background-position: 100% 50%;
        }


        100% {
                background-position: 0% 50%;
        }
}

@keyframes transitionn {
        0% {
                transform: rotate(0deg) translateY(0px);
        }

        100% {
                transform: rotate(360deg) translateY(0px);
        }
}