:root {
        /*start Mohamad.Alaskari*/

        /*benötigte variable deffinieren*/
        /*color*/
        --color-bg1-primary: rgb(19, 5, 77);
        --color-bg1-secondary: rgb(19, 5, 77);
        --color-bg2-primary: rgb(49, 6, 91);
        --color-bg2-secondary: #430e80;
        /*bg-gardient*/
        --color-bg-gardient-primary: linear-gradient(135deg,
                        hsl(270, 88%, 19%) 0%,
                        hsl(269, 85%, 23%) 50%,
                        hsl(268, 80%, 28%) 100%);

        --color-bg-gardient-secondary: linear-gradient(135deg,
                        hsl(252, 88%, 16%) 0%,
                        hsl(253deg 87% 16%) 5%,
                        hsl(255deg 87% 16%) 10%,
                        hsl(256deg 87% 17%) 14%,
                        hsl(257deg 87% 17%) 19%,
                        hsl(259deg 87% 17%) 24%,
                        hsl(260deg 87% 17%) 29%,
                        hsl(261deg 87% 17%) 33%,
                        hsl(262deg 87% 17%) 38%,
                        hsl(263deg 87% 17%) 43%,
                        hsl(264deg 87% 18%) 48%,
                        hsl(265deg 87% 18%) 52%,
                        hsl(266deg 87% 18%) 57%,
                        hsl(267deg 87% 18%) 62%,
                        hsl(268deg 87% 18%) 67%,
                        hsl(269deg 87% 18%) 71%,
                        hsl(270deg 87% 18%) 76%,
                        hsl(271deg 87% 19%) 81%,
                        hsl(272deg 87% 19%) 86%,
                        hsl(273deg 88% 19%) 90%,
                        hsl(274deg 88% 19%) 95%,
                        #38065b 100%);

        /*color*/
        --color-primary: rgba(188, 16, 156, 0.99);
        --color-secondary: #dc3daa;
        /*font*/
        --color-font-primary: rgb(255, 255, 255);
        --color-font-secondary: #ccccccdb;

        /*size*/
        --size-font-primary: 35px;
        --size-font-size-secondary: 20px;
        /*ende Mohamad.Alaskari*/
}

html {
        /*start Mohamad.Alaskari*/
        /*enthält es schon in bootstrap*/
        scroll-behavior: smooth;
        scroll-padding-top: 5vh;
        /*Ende  Mohamad.Alaskari*/
}

/*Reset*/
*,
a,
ul {
        /*start Mohamad.Alaskari*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        /*Ende Mohamad.Alaskari*/
}

body {
        /*start Mohamad.Alaskari*/
        line-height: 1.5;
        scroll-padding-top: 5vh;
        letter-spacing: 1px;
        /*Ende Mohamad.Alaskari*/
}

/*omar*/
.main .quellen,
.contact h3 {
        color: var(--color-font-primary);

}


/*background main*/
.flex-col-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.flex-row-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.bg-primary {
        background-image: var(--color-bg-gardient-primary);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.bg-secondary {
        background-image: var(--color-bg-gardient-secondary);
}

.bg-animation {
        background: linear-gradient(135deg, hsl(270, 88%, 10%), hsl(270, 87%, 15%), hsl(270, 87%, 20%), hsl(270, 95%, 32%)), hsl(290, 87%, 25%);
        background-size: 400% 400%;
        animation: bg-animate 15s ease infinite;
}

.bg-grad {
        background-image: linear-gradient(200deg, hsla(187, 100%, 69%, 1), hsla(187, 100%, 69%, 0) 70%), linear-gradient(130deg, hsla(300, 100%, 69%, 1), hsla(300, 100%, 69%, 0) 70%), linear-gradient(330deg, hsla(0, 100%, 69%, 1), hsla(0, 100%, 69%, 0) 70%);

}

/*wraper*/

.wraper:first-child {
        margin-top: 5vh;
}

.wraper {
        margin-bottom: 30vh;
        padding: 0 0;
}


.main {
        overflow: hidden;
}

.main h1 {
        color: var(--color-font-primary);
}

.main p {
        color: var(--color-font-secondary);
}

/*underline*/
.under-line:before {
        content: "";
        background-color: var(--color-primary);
        position: absolute;
        bottom: 0px;
        width: 50%;
        height: 3px;
}


.glass {
        /*start Mohamad.Alaskari*/
        background: rgba(49, 6, 91, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        /*Ende Mohamad.Alaskari*/
}

.glass1 {
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3.2px);
        -webkit-backdrop-filter: blur(3.2px);
        border: 1px solid rgba(57, 9, 108, 0.461);
}

/*Text classes*/
.text-truncate {
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
}



/*Animation classes */
.slide-in-x {
        animation: slide-in-x 0.8s ease;
}

.slide-in-y {
        animation: slide-in-y 0.8s ease;
}

.fade-in {
        animation: fade-in 1s ease;
}

.fade-out {
        animation: fade-out 0.5s ease 3s forwards;
}


/*keyframes for Animation*/
@keyframes slide-in-x {
        from {


                transform: translateX(-20px);
        }
}

@keyframes slide-in-y {
        from {
                transform: translateY(20px);
        }
}

@keyframes fade-in {
        from {
                opacity: 0;
        }
}

@keyframes fade-out {
        to {
                opacity: 0;
        }
}


@keyframes bg-animate {
        0% {
                background-position: 0% 50%;
        }

        50% {
                background-position: 100% 50%;
        }


        100% {
                background-position: 0% 50%;
        }
}