.team-content {
    margin: 1rem 0;
}

.grid-team {
    margin: 2rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.single-service {
    background: var(--color-6);

    /*du muss hier ein variable diffinieren diese farbe ist für dark mood #4b1280 #33353d*/
    flex-wrap: nowrap;
    height: 100%;
    border-radius: 0.8rem;
    padding: 1rem;
}

.single-service.dark {
    background: var(--color-5);
}

.single-service.purple {
    background: var(--color-6);
}

.img-area {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.img-area img {
    width: 100%;
    object-fit: contain;
}


@media only screen and (max-width: 1000px) {
    .grid-team {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }
}