.team-content {
    margin: 1rem 0;
}


.single-service {
    background: rgba(27, 2, 37, 0);
    /*du muss hier ein variable diffinieren*/
    flex-wrap: nowrap;
    height: 100%;
    border-radius: 0.8rem;
    padding: 1rem;
}

.img-area {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
}

.img-area img {
    width: 100%;
    object-fit: contain;
}

