@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


.outerdiv {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.grid {
    margin: 2rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.eachdiv {
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 20px #282727cf;
    color: white;
}

.box1 {
    background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
  
}

.box2 {
    background: #49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}

.box3 {
    background: white;
    grid-column: 1/2;
    grid-row: 2/4;
    color: black;
}


.box4 {
    grid-column: 2/4;
    grid-row: 2/3;
    background: #542158;
}

.box5 {
    background: #7431df;
    grid-column: 2/3;
    grid-row: 3/4;
}

.box6 {
    background: white;
    color: black;
    grid-column: 3/4;
    grid-row: 3/4;
}

.review h4 {
    font-size: 1.4rem;
    color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.review.dark h4 {
    color: #4B5258;
}

.review p {
    font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 60%;
    line-height: 1.5;
}

.review.dark p {
    color: #0e0e0e;
}



@media only screen and (max-width: 800px) {
    .grid {
        display: flex;
        flex-direction: column;
        margin: 2rem;

    }
}

