.welcome-logo {
    margin-right: 50vw;
    height: 100vh;
    width: 100%;
    background-color: #000000;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    animation: fade-out 1.5s 2.3s linear forwards;

}

.welcome-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.linear {
    animation: fade-in-top 1.3s linear forwards;
}

.logo path:nth-child(1),
.logo path:nth-child(2),
.logo path:nth-child(3),
.logo path:nth-child(4),
.logo path:nth-child(5) {
    animation: fade-in-recht 1.4s linear forwards;

}

.logo path:nth-child(6),
.logo path:nth-child(7),
.logo path:nth-child(8),
.logo path:nth-child(9),
.logo path:nth-child(10),
.logo path:nth-child(11),
.logo path:nth-child(12),
.logo path:nth-child(13),
.logo path:nth-child(14),
.logo path:nth-child(15),
.logo path:nth-child(16),
.logo path:nth-child(17),
.logo path:nth-child(18) {
    animation: fade-in-links 1s linear forwards;
}


    




@keyframes fade-in-top {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes fade-in-recht {
    from {
        transform: translateX(75%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in-links {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes fade-out {


    90% {
        opacity: 0;

    }

    100% {
        opacity: 0;
        display: none;
    }
}


@keyframes fill {
    0% {
        fill: rgb(255, 0, 144);
    }

    25% {
        fill: rgb(42, 243, 6);
    }

    50% {
        fill: rgb(64, 81, 235);
    }

    75% {
        fill: rgb(255, 247, 0);
    }

    100% {
        fill: rgb(230, 50, 50);
    }
}