:root{
    /*basic color schrift*/
    --color-special:;
    --color-font-primary:;
    --color-font-secondary:;

    /*bg-color */
    --color-1:;
    --color-2:;
    --color-3:;
    --color-4:;

    /* */
}


title {
    color: var();
    font-size: var();
}

.ueberschrift1 {
    color: var();
    font-size: var();
}

.ueberschrift2 {
    color: var();
    font-size: var();
}

.subtext {
    color: var();
    font-size: var();
}

.text {
    color: var();
    font-size: var();
}
.btn{

}
.primary-btn{

}

.secondary-btn{

}
.primary-btn:hover{

}

.secondary-btn:hover{

}


/*icons*/
i{
    color: var();
}
i:hover{
    color: var();
    font-size: var();
}

    /*background*/
    .bg-animation{

    }
