/*coded by Mohamad Alaskari*/

:root {
    /*font family*/
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /*font-size */
    --size-font-headline: 35px;
    --size-font-nav-logo: var(--size-font-headline);
    --size-font-title: 40px;
    --size-font-home-title: var(--size-font-title);
    --size-font-footer-title: var(--size-font-title);
    --size-font-headline1: 48px;
    --size-font-section-headline: var(--size-font-headline1);
    --size-font-headline2: 28px;
    --size-font-section-untertitle: var(--size-font-headline2);
    --size-font-headline3: 25px;
    --size-font-team-name: var(--size-font-headline3);
    --size-font-headline4: 22.4px;
    --size-font-headline-pros: var(--size-font-headline4);
    --size-font-headline5: 20px;
    --size-font-headline-footer: var(--size-font-headline5);
    --size-font-navbarlinks: var(--size-font-headline5);


    --size-font-standard: 16px;
    --size-font-subtext: var(--size-font-standard);
    --size-font-links: var(--size-font-standard);
    --size-font-btn: var(--size-font-standard);
    --size-font-pros: var(--size-font-standard);
    --size-font-team-name-subtitle: var(--size-font-standard);

    --size-font-sidetext: 0.9rem;










  

    /*font-weight:*/
    --font-weight-primary: 700;
    --font--weight-secondary: 300;
    /**/
    --line-height: 1.5px;
    --letter-spacing: 1px;



    /*basic color schrift*/
    --color-special: hsl(319, 69%, 55%);
    --color-font-primary: #fff;
    --color-font-secondary: #ccccccdb;

    /*bg-color */
    --color-primary-dark: #212529;

    --color-1: #733FC8;
    --color-2: #49556B;
    --color-3: #fff;
    --color-4: #542158;
    --color-6: #4b1280;
    --color-5: #33353d;



    /*bg-gradient*/
    --bg-gardient-animation: linear-gradient(135deg, hsl(270, 88%, 10%),
            hsl(270, 87%, 15%), hsl(270, 87%, 20%),
            hsl(270, 95%, 32%)), hsl(290, 87%, 25%);
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vh;
}

*,
a,
ul,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.5;
    letter-spacing: 1px;
}




title {
    color: var(--color-font-primary);
    font-size: var(--size-font-title);
}

#special {
    color: var(--color-special);
}

.special {
    font-size: var(--size-font-special);
}

.ueberschrift1 {
    color: var(--color-font-primary);
    font-size: var(--size-font-ueberschrift1);
}

.ueberschrift2 {
    color: var(--color-font-primary);
    font-size: var(--size-font-ueberschrift2);
}

.ueberschrift3 {
    color: var();
    font-size: var();
}

.subtext {
    color: var(--color-font-secondary);
    font-size: var(--size-font-Standart);
}

.standart-text {
    color: var(--color-font-primary);
    font-size: var(--size-font-Standart);
}

.btn {}

.primary-btn {}

.secondary-btn {}

.primary-btn:hover {}

.secondary-btn:hover {}


/*icons*/
i {
    color: var();
}

i:hover {
    color: var();
    font-size: var();
}

/*background*/
.bg-animation {}